<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    
      <ion-tab-button tab="calendar">
        <img src="../../../assets/slides/calendar.svg"/>
        <ion-label>Calendar</ion-label>
      </ion-tab-button> 

      <ion-tab-button tab="contact">
        <img src="../../../assets/slides/user-6.svg"/>
        <ion-label>Contact</ion-label>
      </ion-tab-button> 
      
      <ion-tab-button tab="music">
        <img src="../../../assets/slides/music-player-2.svg"/>
        <ion-label>Music</ion-label>
      </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>